.features {
  display: flex;
  align-items: center;
}
.features h1 {
  font-family: "Roboto";
  font-weight: 400;
  font-size: 56px;
  padding: 80px 0px 80px 0px;
}
.features img {
  padding-bottom: 200px;
}
