.footer__banner {
  background-color: #000;
}

.footer__head {
  display: flex;
  padding: 20px 0 20px 0px;
  color: #fff;
}
.company__footer {
  padding: 20px;
  margin-left: 30px;
}

.footer__navbar {
  padding: 20px;
}
.footer__head ul {
  list-style-type: none;
}

.footer__head li {
  display: inline;
  margin-left: 40px;
}
.surveys {
  color: #fff;
  display: flex;
  align-items: center;
  padding: 0px 10px 40px 180px;
}
.active__footer {
  padding-top: 10px;
}
.active__footer1 {
  list-style-type: none;
}

.footer__platform {
  display: flex;
}

.left {
  width: 50%;
}
.right {
  width: 50%;
}

.footer__icons {
  display: flex;
  align-items: center;
  height: 50px;
  width: 100%;
}
.insta {
  padding-right: 40px;
  font-size: 35px;
}
.twitter {
  padding-right: 40px;
  font-size: 35px;
}
.facebook {
  padding-right: 40px;
  font-size: 35px;
}

@media only screen and (max-width: 840px) {
  .footer__head {
    height: 161px;
    font-size: 20px;
    padding-right: 0;
  }
  .insta {
    padding-left: 20px;
    font-size: 20px;
    padding-right: 0;
  }
  .twitter {
    padding-left: 20px;
    font-size: 20px;
    padding-right: 0;
  }
  .facebook {
    padding-left: 20px;
    font-size: 20px;
    padding-right: 0;
  }
}

@media only screen and (max-width: 400px) {
  .insta {
    padding-right: 20px;
    font-size: 20px;
  }
  .twitter {
    padding-right: 20px;
    font-size: 20px;
  }
  .facebook {
    padding-right: 20px;
    font-size: 20px;
  }
  .footer__head {
    height: 147px;
    font-size: 8px;
  }
  .footer__icons {
    height: 45px;
  }
  .footer__navbar {
    padding: 0;
  }
  .company__footer {
    padding: 0px 0px 0px 10px;
    margin: 0;
  }
  .footer__head li {
    padding: 0;
    margin: 15px;
  }
}
