.footer__banner {
  background-color: #000;
}

.footer__head {
  display: flex;
  padding: 20px 0 20px 0px;
  color: #fff;
}
.company__footer {
  padding: 20px;
  margin-left: 30px;
}

.footer__navbar {
  padding: 20px;
}
.footer__head ul {
  list-style-type: none;
}

.footer__head li {
  display: inline;
  margin-left: 40px;
}
.surveys {
  color: #fff;
  display: flex;
  align-items: center;
  padding: 0px 10px 40px 180px;
}
.active__footer {
  padding-top: 10px;
}
.active__footer1 {
  list-style-type: none;
}

.footer__platform {
  display: flex;
}

.left {
  width: 50%;
}
.right {
  width: 50%;
}

.footer__icons {
  display: flex;
  align-items: center;
  height: 50px;
  width: 100%;
}
.insta {
  padding-right: 40px;
}
.twitter {
  padding-right: 40px;
}
.facebook {
  padding-right: 40px;
}
