* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.wrapper {
  max-width: 1300px;
  margin: 0 auto;
}

/*HEADER*/

/* .header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  padding: 20px 0 20px 0px;
}

.logo__img {
  padding-right: 15px;
}
.text__logo1 {
  font-family: Prompt;
  font-size: 36px;
  font-weight: 400;
  line-height: 54px;
  letter-spacing: 0em;
  text-align: left;
}

li a {
  text-align: center;
  padding: 14px 16px;

  text-decoration: none;
}
.text__logo2 {
  color: #00acac;
  font-family: Prompt;
  font-size: 36px;
  font-weight: 400;
  line-height: 54px;
  letter-spacing: 0em;
  text-align: left;
}
.header__logo {
  width: 50%;
  display: flex;
}
.navbar {
  font-size: 17px;
  font-weight: 400;
  cursor: pointer;
  font-family: "Roboto";
}

.navbar ul {
  list-style-type: none;
  align-items: center;
  overflow: hidden;
}
.navbar li {
  float: left;
}

.navbar ul li a {
  display: block;
  border-radius: 10px;
  padding: 4px 13px;
}

.navbar ul li a:hover {
  background: #d9ffff;
}

/*CONTACT US*/

/* .contact__us {
  align-items: center;
}*/

/* .contact__title {
  display: flex; 
  justify-content: center; 
  align-items: center; 
  font-size: 38px;
  font-weight: 400;
}

/* .text_2,
.text_2:hover {
  color: var(--text-color-2);
}
.inputBox {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  gap: 20px;
} */

/* .inputBox input {
  height: 70px;
  background: rgba(98, 244, 244, 0.2);
  border: none;
}
input[type="submit"] {
  height: 42px;
  width: 173px;
  background: #00acac;
  border: none;
  color: #fff;
  font-family: Roboto;
  font-size: 24px;
  font-weight: 500;
  line-height: 28px;
  border-radius: 9px;
}
.inputSubmit {
  padding-left: 44px;
  padding-top: 20px;
}

.inputBox textarea {
  height: 334px;
  background: #62f4f433;

  border: none;
}

.inputBox span {
  font-family: Roboto;
  font-size: 24px;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: 0em;
  text-align: left;
}
.inputCheckbox {
  padding: 48px;
}

input[type="checkbox"] {
  padding-left: 30px;
  height: 36px;
  width: 36px;
  left: 216px;
  top: 3772px;
  border-radius: 0px;
}
.checkBox__title {
  display: flex;
}

.checkBox__title a {
  color: #00acac;
  margin-left: 10px;
  font-family: Roboto;
  font-size: 24px;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: 0em;
  text-align: left;
}
.checkBox__title p {
  font-size: 20px;
  font-family: Roboto;
  font-size: 24px;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: 0em;
  text-align: left;
}
.agree__txt {
  display: flex;
}
.agree__txt h3 {
  margin-left: 10px;
  font-family: Roboto;
  font-size: 24px;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: 0em;
  text-align: left;
  color: #8e0909;
}

/*FOOTER */

/* .footer__banner {
  background-color: #000;
} */

/* .footer__head {
  display: flex;
  padding: 20px 0 20px 0px;
  color: #fff;
}

.company__footer {
  padding: 20px;
  margin-left: 30px;
}

.footer__navbar {
  padding: 20px;
}
.footer__head ul {
  list-style-type: none;
}

@media only screen and (max-width: 400px) {
  .navbar {
    display: none;
  }

  .footer__platform {
    padding-left: 32rem;
    display: flex;
    gap: 20px;
  }

  .header__logo {
    width: auto;
  }

  .header__logo p {
    font-size: 14px;
  }
  .header__logo {
    align-items: center;
  }
  .banner__content {
    height: 520px;
  }
  .banner__left {
    padding-top: 58px;
  }
  .banner__right {
    left: 0;
    text-align: center;
  }
  .banner__description {
    font-size: 23px;
    max-width: 200px;
    padding-top: 390px;
    margin-left: 100px;
  }
  .banner__logo {
    margin: 0;
    font-size: 40px;
  }}
  
