* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.wrapper {
  max-width: 1200px;
  margin: 0 auto;
}

.header {
  display: flex;
  background-color: aqua;
  align-items: center;
  margin: 0 auto;
  padding: 20px 0 20px 0px;
}

.header__logo {
  width: 50%;
}
.navbar {
  width: 50%;
}

.navbar .li {
  gap: 40px;
}
